<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.paperplanes.flagsquiz">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.FlagQuizActivity"
            android:parentActivityName=".activity.FlagsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.FlagsActivity"/>
        </activity>
        <activity
            android:name=".activity.FlagsActivity"
            android:parentActivityName=".activity.LevelSelectorActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.LevelSelectorActivity"/>
        </activity>
        <activity
            android:name=".activity.LevelSelectorActivity"
            android:parentActivityName=".activity.MainMenuActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainMenuActivity"/>
        </activity>
        <activity android:name=".activity.MainMenuActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.HelpActivity">
        </activity>
        <activity android:name=".activity.AboutActivity">
        </activity>
    </application>

</manifest>